/* ASCII GAME MAP SCREEN STYLE */

#game-screen{
    border:1px dotted black;
}

.ascii-art {
  font-family: "Roboto Mono", monospace;
  white-space: pre;
  line-height:1.2em;
}

.interactable-char {
  cursor:pointer;
}

.interactable-char:hover {
  font-family: "Monaco Mono", monospace;
  font-family: "Anonymous Pro",monospace;
  background-color: #b6b6b6;
  color:#00FF41;
  text-shadow: 0 0 4px #8dffa8;
}

#game-screen{
  font-family: "Monaco Mono", monospace;
  /*font-family: "Anonymous Pro",monospace;
  background-color: #1f1f1f;
  color:#00FF41;
  text-shadow: 0 0 4px #8dffa8; 
  margin:1%;*/
  overflow: hidden; /* No scrolling*/
  width: fit-content;
}

#TextMessageWindow1 {
    position: absolute;
    bottom:0;
}