body {
    margin: 0;
    overflow: hidden;
    font-family: 'Roboto Mono', monospace;

    /* Disable text selection */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

canvas {
    display: block;
    image-rendering: pixelated;
}

#menu {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #f8f8f866;
    /*color: black;*/
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

/*#menu button {
    display: block;
    margin: 5px 0;
    padding: 5px 10px;
    background: gray;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

#menu button:hover {
    background: lightgray;
    color: black;
}*/

/* Build Menu Grid */
.grid-panel {
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 0px;
    width:30%;  /* Width of Panel */
    margin-top: auto;
    background-color: #f8f8f866;
    border-top: 5px solid #ffffff6d;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
    transition: transform 0.3s ease;
}
.grid-panel.hidden {
    transform: translate(-50%, 100%);
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(5vh, 1fr)); /* Each column will be 1% of the viewport height */
    grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr)); /* Each row will be 1% of the viewport height */
    gap: 10px; /* Gap between the grid items */
    /*justify-content: center;*/
    padding: 10px;
    text-align: center;
}

.grid-item {
    /*background-color: #f0f0f06a;*/
    border: 1px solid #cccccc6d;
    border-radius: 10%;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* This makes the grid items square */
    height: 100%; /* This sets the height to 10% of the viewport height */
    width : 100%;

    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: calc(5vh - 10px); /* Adjust the font size to fill the div */
}
.grid-item.selected {
    background-color: #a0d1ff;
    border-color: #007bff;
}
.grid-item-locked {
    background-color: #0000001c;
    border: 1px solid #cccccc6d;
    border-radius: 10%;
    cursor: pointer;
    aspect-ratio: 1 / 1; /* This makes the grid items square */
    height: 100%; /* This sets the height to 10% of the viewport height */
    width : 100%;

    display: flex; 
    align-items: center; 
    justify-content: center; 
    font-size: calc(5vh - 10px); /* Adjust the font size to fill the div */
}
.controls {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}
.controls button {
    margin-left: 5px;
}
.toggle-button {
    position: fixed;
    top: -30px;
    right: 10px;
    z-index: 1000;
}

.player-cursor {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
    pointer-events: none;
}

.action-button{
    margin-left:5px; font-size:30px; background: none; /* Removes the background */
  border: none; /* Removes the border */
  padding: 0; /* Removes any padding */
  cursor: pointer; /* Adds a pointer cursor on hover */
  color: inherit; /* Inherits the text color from the parent */
}

.action-button:disabled {
    opacity: 0.5;
}

table {
    font-family: 'Roboto Mono', monospace;
    font-size: 10px;
    text-align:left;
}