body{
    background-color: black;
    color: greenyellow;
}
html, body
{
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	overflow-x:hidden;
}

/* this affects every element in the body and the body itself */
body, body *, footer{
    font-family: "Courier New", monospace;
}

#header {
    border:none;
    margin: 0;
    padding: 0;
}

.module
{
	font-family:sans-serif;
	text-align:center;

	max-width: 250px;
	min-width: 80px;

	margin:10px;
	padding:10px;
	color: #fff;
	background-color:#222;
	border: solid 1px;
	border-color: #555;
	border-radius: 5px;
}

h1
{
	color:#aaa;
	/*text-shadow: -1px -2px 2px #000;*/
	text-align:left;

	background-color:rgba(32,32,32,.5);
	border-top: solid 1px #444;
	border-left: solid 1px #222;
	border-radius: 8px 8px 0 0;
	padding:10px;
    margin:0;
	
    font-size: 1.5em;
    font-weight: 500;
    font-style: normal;
	
}

p{
    margin: 15px
}

a{
    text-decoration: none;
}

a:hover
{
	background-color:#333;
}

#content
{
	background-image: url(http://ascii-patrol.com/bkg.png);
    background-attachment: fixed;
    background-position: center;
    text-align: justify;
    padding: 0; margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%)
}

footer{
    color: greenyellow;
}
