.ascii-art {
  font-family: "Roboto Mono", monospace;
  white-space: pre;
}

.interactable-char {
  cursor:crosshair;
}

.interactable-char:hover {
  background-color: lightgray;
}

body{
  /*font-family: "Monaco Mono", monospace;*/
  font-family: "Anonymous Pro",monospace;
  background-color: #1f1f1f;
  color:#00FF41;
  text-shadow: 0 0 4px #8dffa8;
  margin:1%;
  overflow: hidden; /* No scrolling*/
}