
body{
  /*font-family: "Monaco Mono", monospace;*/
  font-family: "Anonymous Pro",monospace;
  background-color: #1f1f1f;
  color:#00FF41;
  text-shadow: 0 0 4px #8dffa8;
  margin:1%;
  overflow: hidden; /* No scrolling*/
}
body::after{
	content: "";
  position: absolute;
  top: 0;
  left: 0;
 	width: 100vw;
  height: 100vh;
	background: repeating-linear-gradient(
    0deg,
    #00000015,
    #00000015 2px,
    transparent 2px,
    transparent 4px
  );
  z-index: -1;
}

.no-select {
  
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

.ascii-art {
  /*font-family: "Monaco Mono", monospace;*/
  font-family: "Anonymous Pro",monospace;
  white-space: pre;
}
#nav-bar{
  /*text-align: center;*/
  bottom:0px;
}
#score {
  font-size: 2em;
  font-weight: bold;
  /* text-align: center;
  margin: 0 0 0 40%; */
  text-align: right;
  display:inline-block;
}

#clicker{
  display:inline-block;
  cursor:pointer;
}

/*
body button{
  font-family: "Monaco Mono", monospace;
  background-color: #1f1f1f;
  color:#00FF41;
  text-shadow: 0 0 4px #8dffa8;
}
#nav-bar span{
  cursor: pointer;
}
*/

#div0{
  /*border: 1px solid;*/
  padding:10px;
}

#div1{
  position: absolute;
  bottom: 0;
  margin:3%;
}
